@font-face {
    font-family: "Gilroy-Black";
    src: url("../src/assets/fonts/Gilroy-Black.ttf");
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: "Gilroy-Black";
    background-image: url("../src/assets/images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  
  button {
    font-family: "Gilroy-Black";
  }
  
  header {
    display: flex;
    height: 10vh;
    width: 90%;
    margin: auto;
    align-items: center;
  }
  
  .hamburger {
    content: none;
  }
  
  #hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    max-width: 15vh;
  }
  
  .logo {
    font-weight: 400;
    margin: 4px;
    
  }
  
  .logo-container,
  .nav-links,
  .cart {
    display: flex;
  }
  
  .logo-container {
    flex: 1;
  }
  
  nav {
    flex: 2;
  }
  
  .nav-links {
    justify-content: space-around;
    list-style: none;
  }
  
  .nav-link {
    color: black;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
    flex-direction: row-reverse;
  }
  
  .cover img {
    width: 50vw;
    height: 60vh;
    border-radius: 5px;
  
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  
  .introduction {
    color: white;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .cover {
    top: 5vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
  }
  
  .cover-text {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-self: baseline;
    bottom: 0;
    padding-left: 2%;
    color: antiquewhite;
  }
  
  .intro-text {
    margin-top: 18vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 20vw;
  }
  
  .intro-text h1 {
    font-size: 2.5em;
    font-weight: 500;
  }
  
  .intro-text p {
    margin-top: 5px;
    font-size: 2.2em;
    color: white;
  }
  
  .cta {
    padding: 25px 0 0 0;
  }
  
  .cta-select {
    border-radius: 15px;
    border: 4px solid #b2cdebff;
    background: transparent;
    color: rgb(113, 171, 237);
    width: 100%;
    height: 100%;
    cursor: pointer;
    align-items: center;
    font-size: 1.5em;
  
    -webkit-box-shadow: 0 0 5px #b2cdebff;
    -moz-box-shadow: 0 0 5px #b2cdebff;
    box-shadow: 0 0 5px #b2cdebff;
  }
  
  .cta-select h1 {
    font-size: 2rem;
  }
  
  .hamburger-menu {
    display: none;
    margin-left: auto;
    right: 5%;
    height: 30px;
    width: 60px;
    position: absolute;
    transform: rotate(90deg);
  }
  
  span {
    width: 100%;
    font-size: 1.7rem;
    font-weight: 100;
    height: 10px;
    background-color: black;
    border-radius: 10px;
    top: 50%;
    left: 20%;
    transition: all 0.3s ease-in;
  }
  
  .hamburger-menu span:nth-child(1) {
    top: 25%;
  }
  
  .hamburger-menu span:nth-child(3) {
    top: 5%;
  }
  
  #wind-speed {
    display: none;
  }
  
  /* Forecast Page */
  
  .forecast-table {
    display: flex;
    margin: auto;
    padding: 2%;
    height: 80vh;
    width: 80vw;
  }
  
  @media (max-width: 1270px) {
    .intro-text {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      width: 50%;
      text-align: center;
      margin-top: 15vh;
      margin-right: 1px;
      padding-right: 0;
    }
  
    .intro-text h1 {
      font-size: 2em;
      font-weight: 500;
      text-align: center;
    }
  
    .intro-text p {
      text-align: right;
      margin-top: 5px;
      font-size: 2em;
      color: white;
      text-align: center;
    }
  
    .introduction > div > h1 > img {
      width: 40%;
    }
  
    .cover > h1 {
      font-size: 1.7rem;
    }
  
    .cta-select h1 {
      font-size: 2rem;
    }
  }
  
  @media (max-width: 1050px) {
  
    .intro-text {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      width: 50%;
      text-align: center;
      margin-top: 15vh;
    }
  
    .intro-text h1 {
      font-size: 1.7em;
      font-weight: 500;
      text-align: center;
    }
  
    .intro-text p {
      text-align: right;
      margin-top: 5px;
      font-size: 1.5em;
      color: white;
      text-align: center;
    }
  
    .cta-select h1 {
      font-size: 1.5rem;
    }
  
    #wind-speed {
      display: none;
    }
  
  }
  
  @media (min-width: 350px) and (max-width: 800px) {
    body {
      background-image: none;
    }
  
    .presentation {
      display: flex;
      width: 100%;
      height: 100vh;
      align-items: center;
      flex-direction: column;
    }
  
    .cover {
      border-radius: 0;
      width: 100vw;
      top: 10vh;
      position: fixed;
      display: flex;
      flex-direction: row;
      flex: 1;
    }
  
    .cover img {
      border-radius: 0;
      width: 150vw;
      height: 40vh;
  
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: 50% 50%;
    }
    .cover-text {
      flex-wrap: nowrap;
      position: absolute;
      bottom: 0;
      color: antiquewhite;
      text-shadow: 2px 2px rgba(0, 0, 0, 0.477);
    }
    header {
      background-color: rgb(255, 255, 255);
      width: 100%;
      height: 10vh;
      position: fixed;
    }
  
    .cta {
      
      justify-content: space-around;
      padding: 38vh 2vw 0 2vw;
      position: fixed;
      margin: 0 0 0 0;
      left: 0;
    }
  
    .cta-select h1 {
      font-size: 3rem;
      color: #47d49a;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      padding-left: 10%;
      border-left: 10px solid #47d49a;
      text-align: left;
      justify-content: left;
      align-items: center;
      height: 80%;
      margin: auto;
      margin-left: 3%;
    }
    
    .cta-select {
      border: 1px solid rgba(0, 0, 0, 0.489);
      background: transparent;
      color: rgba(0, 0, 0, 0.399);
      width: 95vw;
      height: 20vh;
      cursor: pointer;
      text-align: left;
      align-items: center;
      font-size: 1.5em;
    
      -moz-box-shadow: 0px 0px 4px 1px grey;
      -webkit-box-shadow: 0px 0px 4px 1px grey;
      box-shadow: 0px 0px 4px 1px grey;
    }
    
    .wind-speed-section {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
    }
  
    #wind-speed {
      display: block;
      padding: 61vh 2vw 0 2vw;
      text-align: left;
    }
  
    #wind-speed-select {
      display: inline;
      align-items: center;
      margin: 0;
      padding: 0 5% 5% 5%;
    }
  
    #wind-speed-select h1 {
      padding: 0;
      margin: 0 auto;
       font-size: 3rem;
      color: #000000;
      border-left: none;
      height: 50%;
    }
  
    #wind-speed-select > h2 {
      color: #000000;
      font-size: 1rem;
    }
  
    
    .nav-link {
      display: none;
    }
  
    .hamburger-menu {
      z-index: 9;
      display: block;
    }
  
    .nav-link {
      color: rgb(0, 0, 0);
    }
  
    .introduction {
      margin: 0;
    
    }
  
    .cover > h1 {
      font-size: 1.5rem;
    }
  }
  /* Styling for Live page */
  
  /* Styling for Live page */
  
  /* Main section styling */
  .main {
    padding: 20px;
  }
  
  /* Presentation section styling */
  .presentationLive {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  /* Model time paragraph styling */
  .modelTime {
    font-size: 25px;
    color: #555;
  }
  
  /* Today's Prediction section styling */
  .TP {
    margin-top: 20px;
  }
  
  /* Heading styling */
  .bold {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Image styling */
  .TP img {
    max-width: 100%; /* Ensure the image does not exceed the container width */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px;
    margin-left: auto; /* Center the image horizontally */
    margin-right: auto; /* Center the image horizontally */
  }
  
  /* Text paragraph styling */
  .TP p {
    font-size: 20px;
    padding: 15px; /* Reduce padding for better readability on small screens */
    line-height: 1.5;
    font-weight: bold;
    color: #333;
  }
  
  /* Media query for smaller devices */
  @media (max-width: 600px) {
    /* Adjustments for smaller screens */
    .modelTime {
      font-size: 20px;
    }
    .bold {
      font-size: 20px;
    }
    .TP p {
      font-size: 16px; /* Decrease font size for better readability */
      padding: 10px; /* Reduce padding further for smaller screens */
    }
  }
@font-face {
    font-family: "Gilroy-Black";
    src: url("./assets/fonts/Gilroy-Black.ttf");
  }
  body {
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  header {
    margin: 0px 0 10px 10px;
    width: 100%;
    height: 10vh;
  }
  
  table {
    background-color: white;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 0;
    width: 100%;
  }
  
  h1 {
      color: black;
    text-align: center;
    justify-self: left;
  }
  
  caption {
    display: flex;
    height: 10vh;
    width: 260%;
    margin: auto;
    align-items: center;
  }
  
  aside > i{
    background-color: blue;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    right: 0;
  }
  
  .forecast-table {
    top: 0;
    padding-top: 5px;
    table-layout: fixed;
    padding: 1rem;
    max-width: 100%;
    max-height: 70%;
  }
  
  nav {
    right: 0;
  }
  
  tr {
    width: 100%;
  }
  
  th,
  td {
    padding: 1rem;
    justify-self: center;
  }
  
  th {
    text-align: left;
    border: 1px solid rgba(128, 128, 128, 0.378);
  }
  
  th > i {
    font-size: 1rem;
    background-color: transparent;
    color: rgb(0, 0, 0);
  position: relative;
  left: 50%;
  }
  
  th h4 {
    text-align: center;
    width: 100%;
  }
  
  th span {
    float: right;
    width: 30%;
    display: flex;
    border-radius: 0;
    margin: 1;
    font-size: 0.8;
    flex-wrap: wrap;
    flex-direction: row;
    color: red;
    text-align: center;
  }
  
  tr:nth-child(3) > th:nth-child(3) > span,
  tr:nth-child(3) > th:nth-child(4) > span,
  tr:nth-child(5) > th:nth-child(2) > span,
  tr:nth-child(8) > th:nth-child(2) > span,
  tr:nth-child(7) > th:nth-child(3) > span,
  tr:nth-child(8) > th:nth-child(3) > span,
  tr:nth-child(6) > th:nth-child(4) > span,
  tr:nth-child(6) > th:nth-child(4) > span,
  tr:nth-child(6) > th:nth-child(4) > span,
  tr:nth-child(6) > th:nth-child(5) > span:nth-child(4),
  tr:nth-child(7) > th:nth-child(2) > span:nth-child(4) {
    background-color: #fbd858;
  }
  
  tr:nth-child(2) > th:nth-child(2) > span:nth-child(3),
  tr:nth-child(2) > th:nth-child(2) > span:nth-child(4),
  tr:nth-child(2) > th:nth-child(3) > span:nth-child(3),
  tr:nth-child(2) > th:nth-child(3) > span:nth-child(4),
  tr:nth-child(2) > th:nth-child(4) > span:nth-child(3),
  tr:nth-child(2) > th:nth-child(4) > span:nth-child(4),
  tr:nth-child(2) > th:nth-child(5) > span:nth-child(3),
  tr:nth-child(2)
    > th:nth-child(5)
    > span:nth-child(4)
    tr:nth-child(9)
    > th:nth-child(2)
    > span:nth-child(3),
  tr:nth-child(9) > th:nth-child(2) > span:nth-child(3),
  tr:nth-child(9) > th:nth-child(2) > span:nth-child(4),
  tr:nth-child(9) > th:nth-child(3) > span:nth-child(3),
  tr:nth-child(9) > th:nth-child(3) > span:nth-child(4),
  tr:nth-child(9) > th:nth-child(4) > span:nth-child(3),
  tr:nth-child(9) > th:nth-child(4) > span:nth-child(4),
  tr:nth-child(9) > th:nth-child(5) > span:nth-child(3),
  tr:nth-child(9) > th:nth-child(5) > span:nth-child(4),
  tr:nth-child(3) > th:nth-child(5) > span:nth-child(4),
  tr:nth-child(4) > th:nth-child(2) > span:nth-child(2),
  tr:nth-child(4) > th:nth-child(2) > span:nth-child(3),
  tr:nth-child(4) > th:nth-child(2) > span:nth-child(4),
  tr:nth-child(4) > th:nth-child(5) > span:nth-child(3),
  tr:nth-child(5) > th:nth-child(3) > span:nth-child(2),
  tr:nth-child(5) > th:nth-child(3) > span:nth-child(3),
  tr:nth-child(5) > th:nth-child(3) > span:nth-child(4),
  tr:nth-child(5) > th:nth-child(4) > span:nth-child(2),
  tr:nth-child(5) > th:nth-child(4) > span:nth-child(3),
  tr:nth-child(5) > th:nth-child(4) > span:nth-child(4),
  tr:nth-child(5) > th:nth-child(5) > span:nth-child(2),
  tr:nth-child(5) > th:nth-child(5) > span:nth-child(3),
  tr:nth-child(5) > th:nth-child(5) > span:nth-child(4),
  tr:nth-child(6) > th:nth-child(2) > span:nth-child(2),
  tr:nth-child(6) > th:nth-child(2) > span:nth-child(3),
  tr:nth-child(6) > th:nth-child(2) > span:nth-child(4),
  tr:nth-child(6) > th:nth-child(3) > span:nth-child(2),
  tr:nth-child(6) > th:nth-child(3) > span:nth-child(3),
  tr:nth-child(6) > th:nth-child(3) > span:nth-child(4),
  tr:nth-child(6) > th:nth-child(5) > span:nth-child(2),
  tr:nth-child(6) > th:nth-child(5) > span:nth-child(3),
  tr:nth-child(7) > th:nth-child(2) > span:nth-child(2),
  tr:nth-child(7) > th:nth-child(2) > span:nth-child(3),
  tr:nth-child(7) > th:nth-child(4) > span:nth-child(4),
  tr:nth-child(7) > th:nth-child(4) > span:nth-child(3),
  tr:nth-child(8) > th:nth-child(5) > span:nth-child(2),
  tr:nth-child(8) > th:nth-child(5) > span:nth-child(3),
  tr:nth-child(8) > th:nth-child(5) > span:nth-child(4) {
    background-color: #47d49a;
  }
  
  tr:nth-child(2) > th:nth-child(5) > span:nth-child(4) {
    background-color: #47d49a;
  }
  
  tr:nth-child(2) > th:nth-child(2) > span:nth-child(2),
  tr:nth-child(2) > th:nth-child(3) > span:nth-child(2),
  tr:nth-child(2) > th:nth-child(4) > span:nth-child(2),
  tr:nth-child(2) > th:nth-child(5) > span:nth-child(2),
  tr:nth-child(9) > th:nth-child(2) > span:nth-child(2),
  tr:nth-child(9) > th:nth-child(3) > span:nth-child(2),
  tr:nth-child(9) > th:nth-child(4) > span:nth-child(2),
  tr:nth-child(9) > th:nth-child(5) > span:nth-child(2),
  tr:nth-child(3) > th:nth-child(2) > span:nth-child(3),
  tr:nth-child(3) > th:nth-child(2) > span:nth-child(2),
  tr:nth-child(3) > th:nth-child(5) > span:nth-child(3),
  tr:nth-child(3) > th:nth-child(5) > span:nth-child(2),
  tr:nth-child(4) > th:nth-child(3) > span:nth-child(4),
  tr:nth-child(4) > th:nth-child(3) > span:nth-child(2),
  tr:nth-child(4) > th:nth-child(4) > span:nth-child(3),
  tr:nth-child(4) > th:nth-child(4) > span:nth-child(4),
  tr:nth-child(4) > th:nth-child(5) > span:nth-child(2),
  tr:nth-child(4) > th:nth-child(5) > span:nth-child(4),
  tr:nth-child(7) > th:nth-child(4) > span:nth-child(2),
  tr:nth-child(7) > th:nth-child(5) > span:nth-child(3),
  tr:nth-child(7) > th:nth-child(5) > span:nth-child(4),
  tr:nth-child(8) > th:nth-child(4) > span:nth-child(3),
  tr:nth-child(8) > th:nth-child(4) > span:nth-child(4) {
    background-color: #fbd858;
  }
  
  tr:nth-child(3) > th:nth-child(2) > span:nth-child(4),
  tr:nth-child(4) > th:nth-child(3) > span:nth-child(3),
  tr:nth-child(4) > th:nth-child(4) > span:nth-child(2),
  tr:nth-child(7) > th:nth-child(5) > span:nth-child(2),
  tr:nth-child(8) > th:nth-child(4) > span:nth-child(2) {
    background-color: #f26322;
  }
  .green-bar, .headText, .mobile, #mobile {
    display: none;
  }

  /* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
  
  
  @media only screen and (max-width: 1024px) {
    .days {
      display: flex;
      justify-content: center; /* Center the cards horizontally */
      align-items: center; /* Center items vertically */
      text-align: center;
    }
    .hidden {
      display: none;
    }
    .green-bar, .headText {
      display:flex;
    }
    
    .days th:not(.empty) {
      margin: 0px 10px 50px 20px; /* Adjust the spacing between cards */
      padding: 50px;
      font-size: 18px;
      font-weight: bold;
      border: 1px solid #ddd;
      border-radius: 7px;
      box-shadow: -1px 5px 3px rgb(112, 112, 112);
    }
    .green-bar {
  position: relative;
  top: 45px;
  width: 170%;
  background-color: #47d49a;
  height: 7px;
  align-content: center;
    }
    table, th{
      border: none;
    }
  .forecast-table {
    table-layout: auto;
    margin: 0px;
  }
    .wind, .surface, .dpd, .mwd, .pressure, .atmp, .wtmp, .dewp { 
  display: none;
    }
    .tableData {
      display: none;
    }
    .mobile {
      display: flex;
    }
    th {
      padding: 0px;
    }
  
  .time {
    margin-right: 80px;
    margin-left: 25px ;
  }
  .timed {
    margin-right: 85px;
    margin-left: 25px ;
  }
  .status, .windM, .pressureM, .weather {
    margin-right: 70px;
    margin-bottom: 30px;
  }
   .windd {
    margin-right: 95px;
    margin-bottom: 25px;
  }
  .statusd {
    margin-right:90px;
    color: #47d49a;
    margin-bottom: 25px;
  }
  .pressured {
    margin-right: 125px;
    margin-bottom: 25px;
  }
  .weatherd {
    margin-right: 75px;
    margin-bottom: 25px;
  }
  tr {
    display: flex;
    justify-content: center;
  }
  th > h2 {
    margin-bottom: 25px;
   position: relative;
  right: 275px;
  font-family: "Gilroy-Black";
    }
  }
  
  
  